* {
	/* Some general colors */
	lightColor: #f9f9f9;	
	darkColor: derive(lightColor, -75%);
	darkSecondaryColor: derive(lightColor, -10%);
	accentColor: #46B1C9;
	
	textAccentColor: white;
	textTabColor: derive(darkSecondaryColor, -65%);
	textTabAccentColor: white;
	textColor: darkColor;	
	
	closeBtnColor: red;	
	separatorColor: linear-gradient(darkSecondaryColor 0%, darkSecondaryColor 30%, accentColor 40%, accentColor 70%, darkSecondaryColor 80%, darkSecondaryColor 100%);
	
}