@import "/css/Colors.css";


.root {
	-fx-text-wrap: true;
	-fx-background-color: transparent;
}

.scroll-pane {
	-fx-background-color: transparent;
}

.scroll-pane .viewport {
       -fx-background-color: transparent;
}

.jfx-toggle-button {
    -jfx-toggle-color: derived(brandColor, 0.25);
    -jfx-toggle-line-color: baseColorLighter2;
}

.jfx-check-box {
    -jfx-checked-color: derived(brandColor, 0.25);
}

.jfx-radio-button {
    -jfx-selected-color: derived(brandColor, 0.25);
}

.jfx-button {
	-fx-border-width: 3;
	-fx-border-style: solid;
	-fx-border-color: baseGreyLighter4;
}

.label {
	-fx-padding: 5;
}






