@import "/css/colors.css";

* {

}

#titleBar, #footer {
	-fx-background-color: darkColor;
}

#title {
	-fx-text-fill: textAccentColor;
}

#contentArea {
	-fx-background-color: lightColor;
}

#root {
	-fx-background-color: transparent;		
    -fx-effect: dropshadow( gaussian , black , 5,0,0,0 );
    -fx-background-insets: 5;
}

#btnCls, #btnMax, #btnMin, #btnResize {
	-fx-background-color: transparent;
	-fx-background-radius: 0;
	-fx-border-color: transparent;
	-fx-border-width: 0;
	-fx-background-position: center;
	-fx-background-repeat: stretch;
}

#btnMax:hover, #btnMin:hover {
	-fx-background-color: derive(darkColor, 20%);	
}

#btnCls:hover {
	-fx-background-color: derive(red, 45%);	
}

#btnCls {
	-fx-background-image: url("/images/window/x.png");	
}

#btnMax {
	-fx-background-image: url('/images/window/square.png');
}

#btnMin {
	-fx-background-image: url('/images/window/line.png');
}

#btnResize {
	-fx-background-image: url('/images/window/resize.png');
}